*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    
    text-decoration: none;
}

a:focus-visible {
    outline: 2px solid var(--couleur-secondaire);
    outline-offset: 2px;
}

h1, h2, h3, p { margin: 0; } */
